# .env.prod.local - Template pour OVH
# À copier sur le serveur dans le dossier cible (TARGET_DIR)

APP_ENV=prod
APP_SECRET=a_generer_avec_php_bin_console_secrets_generate-keys

# Configuration Base de données OVH
# DATABASE_URL="mysql://USER:PASSWORD@HOST:PORT/DB_NAME?serverVersion=mariadb-10.6.0"

# Configuration Mailer OVH (si besoin)
# MAILER_DSN=smtp://user:pass@ssl0.ovh.net:587
