<div data-homepage-loader-target="loader" class="fixed inset-0 bg-gray-900 flex items-center justify-center z-50 transition-opacity duration-500 opacity-100">
    <div class="animate-spin rounded-full h-32 w-32 border-b-2 border-gray-100"></div>
    <span class="sr-only">Chargement...</span>
</div>